/* styles.css */

/* Add styles here to customize the appearance of your app */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}

table {
  background: #012B39;
  border-radius: 0.25rem;
  border-collapse: collapse;
  margin: 1rem;
  width: 97.5%;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65rem 1rem;
}

.disabled td {
  color: #4F5F64;
}

tr {
  transition: background 0.25s ease;
}

tr:hover {
  background: #014055;
}

button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#filters {
  font-size: 1.10rem;
}

label {
  color: #fff;
  font-size: 1.4rem;
}

#menuOptions {
  margin: 1rem;
}
